body {
    font-family: 'Arial', sans-serif;
    margin: 0 auto;
    max-width: 800px;
    line-height: 1.6;
    border: 1px solid #ddd; /* Light border color */
    padding: 20px; /* Add padding for space between content and border */
}

h1, h2, h3 {
    color: #333;
    text-align: center; /* Center the headings */
    text-decoration: underline;
}
.contact{
    color: #333;
    text-align: center; /* Center the headings */
}
p {
    margin-bottom: 10px;
}

strong {
    font-weight: bold;
}

ul {
    list-style-type: disc;
    margin-bottom: 10px;
    margin-left: 20px;
}

a {
    color: #007BFF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#skills-technologies, #training, #experience {
    margin-top: 20px;
    text-align: left; /* Reset text alignment for specific sections */
}

.certifications-container {
     /* Set display to inline-block to center the container */
    text-align: left; /* Reset text alignment for the content inside the container */
}

#education {
    text-align: center; /* Center the text globally */
}

#training {
    text-align: center; /* Center the text globally */
}

#education-container{
    text-align: center;
}

.projects-container, .certifications-container {
    color: #333;
    text-align: center; /* Center the headings */
}
